2d_curve/case_1/data.txt
2d_curve/case_2/data.txt
2d_curve/case_3/data.txt
3d_curve/case_1/data.txt
3d_curve/case_2/data.txt
3d_curve/case_3/data.txt
3d_surface/case_1/data.txt
3d_surface/case_2/data.txt
3d_surface/case_3/data.txt
hyper_elastic/case_1/data.txt
hyper_elastic/case_2/data.txt
hyper_elastic/case_3/data.txt
rod_network/case_1/data.txt
rod_network/case_2/data.txt
rod_network/case_3/data.txt
soft_robot/case_1/data.txt
soft_robot/case_2/data.txt
soft_robot/case_3/data.txt
soft_robot/case_3/getFc.asv
soft_robot/case_3/testFunc.asv
soft_robot/case_3/testFunc.m


